.background-img {
    min-height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(1, 1, 46), black);
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    animation: transitionIn 2s;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-family: 'Paytone One', sans-serif;
    font-size: 7rem;
    margin: 1rem;
}

.role {
    font-size: 2rem;
    color: aquamarine;
    text-align: center;
}

.text {
    font-size: 1.5rem;
    margin: 0;
}

.portrait {
    width: 500px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@media (max-width: 1280px) {
    .content-container {
        gap: 0vw;
    }
}

@media (max-width: 990px) {
    .portrait {
        width: 200px;
    }

    .name {
        font-size: 4rem;
    }

    .role {
        font-size: 2rem;
    }

    .text {
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    .portrait {
        width: 150px;
    }

    .name {
        font-size: 3rem;
    }

    .role {
        font-size: 1.5rem;
    }

    .text {
        font-size: 0.75rem;
    }
}