/* TODO: DELETE */

/* .arrow {
    cursor: pointer;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 20px 10px 36px 10px;
    border-radius: 15px;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.small-image {
    height: 400px;
    width: 250px;
    border: 1px solid black;
}

.large-image {
    height: 400px;
    width: 500px;
    border: 1px solid black;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.active {
    opacity: 1;
    transition: opacity 0.5s;
}

.inactive {
    opacity: 0;
    transition: opacity 0.5s;
}

@media (max-width: 660px) {
    .container {
        width: 90vw;
        padding: 5px 0;
    }

    .large-image {
        width: 100%;
    }
} */