.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    height: 70px;
    width: 70px;
}

@media (max-width: 600px) {
    .image {
        height: 35px;
        width: 35px;
    }
}