.container,
.flipped-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.flipped-container {
    flex-direction: row;
}

.small-layer,
.large-layer {
    background-color: rgba(100, 255, 218, 0.4);
    position: absolute;
    transition: background-color 0.5s;
}

.small-layer,
.small-work-image {
    width: 250px;
    height: 350px;
}

.large-layer,
.large-work-image {
    width: 500px;
    height: 400px;
}

.small-layer:hover,
.large-layer:hover {
    background-color: rgba(116, 230, 192, 0);
}

.links,
.flipped-links {
    display: flex;
    gap: 8px;
}

.links {
    flex-direction: row-reverse;
}

.links img,
.flipped-links img {
    width: 30px;
    height: 30px;
}

.work-description {
    margin: 0;
    font-size: 0.9rem;
    background-color: grey;
    padding: 10px 20px;
}

.work-title {
    margin: 0;
    font-size: 2rem;
}

.technologies-description {
    margin: 0;
    font-size: 0.8rem;
}

.text-container,
.text-container-flipped {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.text-container-flipped {
    align-items: flex-start;
}

@media (max-width: 800px) {
    .container,
    .flipped-container {
        flex-direction: column;
    }

    .work-title {
        width: 100%;
        text-align: center;
    }

    .text-container,
    .text-container-flipped {
        align-items: center;
    }
}

@media (max-width: 550px) {
    .large-layer,
    .large-work-image {
        width: 100%;
        height: 400px;
    }
}