.arrow {
    cursor: pointer;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 20px 10px 36px 10px;
    border-radius: 15px;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.image {
    height: 400px;
    width: 250px;
    border: 1px solid black;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.active {
    opacity: 1;
    transition: opacity 0.5s;
}

.inactive {
    opacity: 0;
    transition: opacity 0.5s;
}

.links-container {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}

.site-link,
.code-link {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.site-link {
    background-color: rgb(242, 86, 138);
    color: black;
}

.site-link:hover {
    background-color: rgb(170, 36, 81);
}

.code-link {
    background-color: rgb(75, 74, 74);
    color: gold;
}

.code-link:hover {
    background-color: rgb(0, 0, 0);
}